<div>
  <form action="/garden/add" method="post">

    <label for="garden_name">Garden Name: 
      <input name='garden_name'>
    </label><br>

    <label for="area">Square footage:
      <input name="area">
    </label><br>

    <button type='submit'>Add garden button</button>
  </form>
</div>