<ul>
  <% @user_schedule.each do |date, str_arr| %>
    <li><%= date %></li>
    <% str_arr.each do |action_str| %>
      <ul>
        <li><%=action_str%></li>
      </ul>
    <% end %>
  <% end %>
</ul>

<ul>
  <li>7/5/2022<ul><li>Chop wood<li>Carry water</ul>
</ul>